
.parent
{
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
 
}
.card
{
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
   margin: 5px;
}
.card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 5px;

}