*{
  margin: 0px;
  padding: 0px;

}
.card
{
   background-color: rgb(30, 30, 120);
   border-radius: 10px;
   margin: 20px;
   padding: 20px;
   color: white;
}
.nav{

  background-color: cadetblue;
  padding: 10px;
  margin: 3px;
}